@font-face {
  font-family: "cormorant-garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/cormorant-garamond/CormorantGaramond-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "cormorant-garamond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/cormorant-garamond/CormorantGaramond-Italic.woff2) format("woff2");
}

@font-face {
  font-family: "cormorant-garamond";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/cormorant-garamond/CormorantGaramond-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "cormorant-garamond";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/cormorant-garamond/CormorantGaramond-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/fonts/inter/Inter-upright-var.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/fonts/inter/Inter-italic-var.woff2) format("woff2");
}
