@import "tailwindcss";
/* @import "./fonts.css"; */
@plugin "@tailwindcss/typography";

@theme {
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-black: #000000;

  --color-m-red-500: #ee0606;

  --color-m-gray-500: #6d6d6d;

  --font-*: initial;
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --text-*: initial;
  --text-xs: 0.79rem;
  --text-sm: 0.889rem;
  --text-base: 1rem;
  --text-l: 1.125rem;
  --text-xl: 1.266rem;
  --text-2xl: 1.424rem;
  --text-3xl: 1.602rem;
  --text-4xl: 1.802rem;
  --text-5xl: 2.027rem;
  --text-6xl: 2.281rem;
  --text-7xl: 2.565rem;
  --text-8xl: 2.885rem;
  --text-9xl: 3.247rem;
  --text-10xl: 3.653rem;
  --text-11xl: 4.11rem;
  --text-12xl: 4.623rem;
  --text-13xl: 5.202rem;
  --text-14xl: 5.852rem;
  --text-15xl: 6.583rem;
  --text-16xl: 7.406rem;
  --text-17xl: 8.332rem;
  --text-18xl: 9.373rem;
  --text-19xl: 10.545rem;
  --text-20xl: 11.863rem;

  --text-xs--line-height: 1.75;
  --text-sm--line-height: 1.6;
  --text-base--line-height: 1.45;
  --text-l--line-height: 1.45;
  --text-xl--line-height: 1.45;
  --text-2xl--line-height: 1.3;
  --text-3xl--line-height: 1.3;
  --text-4xl--line-height: 1.3;
  --text-5xl--line-height: 1.1;
  --text-6xl--line-height: 1.1;
  --text-7xl--line-height: 1.1;
  --text-8xl--line-height: 1.1;
  --text-9xl--line-height: 1.1;
  --text-10xl--line-height: 1;
  --text-11xl--line-height: 1;
  --text-12xl--line-height: 1;
  --text-13xl--line-height: 1;
  --text-14xl--line-height: 1;
  --text-15xl--line-height: 0.9;
  --text-16xl--line-height: 0.9;
  --text-17xl--line-height: 0.9;
  --text-18xl--line-height: 0.9;
  --text-19xl--line-height: 0.9;
  --text-20xl--line-height: 0.9;

  --spacing-112: 26rem;
  --spacing-128: 28rem;
  --spacing-144: 30rem;
  --spacing-160: 32rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  p {
    @apply text-sm md:text-base lg:text-2xl;
    margin-bottom: 1rem;
  }
  body:has(button.navigation-open) {
    overflow: hidden;
  }
  main a {
    @apply border-b border-dotted;
  }
}
